*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: linear-gradient( #ffadc8 , #fac8c8);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition:all 0.9s ease; 

}

header{
    display: flex;
    height:100vh;
    width:100%;
    align-items: center;
    justify-content:center;
    text-align : justify;
}

.container1{
    /* border: 1px solid green; */
    /* width:50%; */
}

.container1 h1{
    font-size: 45px;
    margin:15px
}

.container1 small{
    font-size: 20px;
    margin-left:85px;
    color:#181717;

}
section{
    display: flex;
    height:100vh;
    width:100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    /* border: 1px solid green; */

}
.container2{
    /* border: 1px solid green; */
    width:60%;
    align-items: center;
}
.container2 h1{
    font-size: 30px;
    margin-bottom:15px;
}
.container2 small{
    font-size: 20px;
}


img{
    width:65%;
    /* margin-top: 9%; */
    height:65%;
    object-fit: cover;
}

.change-bg{
    background:white;
}
